{{> header}}
<section class="my-pets">
    <h1>My Pets</h1>
    {{#each pets}}
    {{#if isAuthor}}
    <ul class="my-pets-list">
        <h3>Name: {{name}}</h3>
        <p>Category: {{category}}</p>
        <p class="img"><img src="{{imageURL}}"></p>
        <p class="description">{{description}}</p>
        <div class="pet-info">
            <a href="#/edit/{{_id}}"><button class="button">Edit</button></a>
            <a href="#/delete/{{_id}}"><button class="button">Delete</button></a>
            <i class="fas fa-heart"></i> <span>{{likes}}</span>
        </div>
    </ul>
    {{/if}}
    {{/each}}
</section>
{{> footer}}